@inherits LayoutComponentBase

<link href="css/AppointmentBooking/Calendar.css" rel="stylesheet" />

<div class="calendar-container">
    <h2 class="info-title">Vui lòng chọn ngày khám</h2>

    <div class="calendar-header">
        <button @onclick="PrevMonth" disabled="@isPrevDisabled">❮</button>
        <span>@currentMonth.ToString("'THÁNG' MM-yyyy")</span>
        <button @onclick="NextMonth" disabled="@isNextDisabled">❯</button>
    </div>

    <div class="calendar-grid">
        <div class="day-label">CN</div>
        <div class="day-label">Hai</div>
        <div class="day-label">Ba</div>
        <div class="day-label">Tư</div>
        <div class="day-label">Năm</div>
        <div class="day-label">Sáu</div>
        <div class="day-label">Bảy</div>

        @foreach (var day in DaysInMonth)
        {
            <div class="calendar-day @(day.HasValue && day.Value < DateTime.Today ? "disabled" : "")"
                 @onclick="() => SelectDate(day)">
                @if (day.HasValue)
                {
                    <span>@day.Value.Day</span>
                }
            </div>
        }
    </div>
</div>
