@page "/schedules"
@rendermode InteractiveServer

<div class="calendar">
	<div class="calendar-header">
		<button @onclick="PrevMonth">&lt;</button>
		<div>@currentDate.ToString("MMMM yyyy", new System.Globalization.CultureInfo("vi-VN"))</div>
		<button @onclick="NextMonth">&gt;</button>
	</div>
	<div class="calendar-body">
		@foreach (var day in dayNames)
		{
			<div class="day-name">@day</div>
		}
		@foreach (var day in DaysInMonth)
		{
			<div class="day" @onclick="(e) => OpenPopupAsync(day.Day, e)">
				<span>@(day.Day == 0 ? "" : day.Day)</span>
				@if (day.Schedules.Any())
				{
					<div class="appointment">
						@string.Join(", ", day.Schedules
											.Select(a => a.Doctor?.FullName)
											.Where(name => !string.IsNullOrEmpty(name))
											.Distinct())
					</div>
				}
			</div>
		}
	</div>
</div>

@if (isPopupOpen)
{
	<div class="popup-overlay" @onclick="ClosePopup">
		<div class="popup-mini" style="@popupPositionStyle" @onclick:stopPropagation="true">
			<div class="popup-content--mini">
				<button type="button" class="btn btn-success" @onclick="OpenCreatePopupAsync">Tạo lịch mới</button>
				<button type="button" class="btn btn-info" @onclick="OpenDetailPopupAsync">Xem chi tiết</button>
			</div>
		</div>
	</div>
}

@if (isPopupCreateOpen)
{
	<div class="popup-overlay">
		<EditForm FormName="ScheduleCreate" OnValidSubmit="HandleCreate" Model="CreateViewModel" class="popup">
			<h3>Tạo lịch làm việc</h3>

			@if (!string.IsNullOrEmpty(ErrorMessage))
			{
				<div class="alert alert-danger w-100">
					@ErrorMessage
				</div>
			}

			<div class="form-group m-2">
				<label>Ngày: @CreateViewModel.WorkDay?.ToString("dd/MM/yyyy")</label>
				<InputDate hidden @bind-Value="CreateViewModel.WorkDay" />
			</div>
			<div class="form-group m-2">
				<label>Giờ làm việc (Giờ bắt đầu - Giờ kết thúc)</label>
				<InputSelect class="form-control" @bind-Value="CreateViewModel.WorkHourId">
					@foreach (var workHour in WorkHours)
					{
						<option value="@workHour.Id">@workHour.StartTime - @workHour.EndTime</option>
					}
				</InputSelect>
				<ValidationMessage For="@(() => CreateViewModel.WorkHourId)" class="text-danger" />
			</div>

			<div class="form-group m-2">
				<label>Bác sĩ</label>
				<InputSelect class="form-control" @bind-Value="CreateViewModel.UserId">
					@foreach (var doctor in Doctors)
					{
						<option value="@doctor.Id">@doctor.Id - @doctor.FullName</option>
					}
				</InputSelect>
				<ValidationMessage For="@(() => CreateViewModel.WorkHourId)" class="text-danger" />
			</div>

			<div class="form-group m-2">
				<button type="submit" class="btn btn-success">Tạo</button>
				<button class="btn btn-danger" @onclick="ClosePopup">Hủy</button>
			</div>

		</EditForm>
	</div>
}

@if (isPopupDetailOpen)
{
	<div class="popup-overlay">
		<div class="popup">
			<button class="btn btn-close float-end" @onclick="ClosePopup"></button>
			<div class="form-group m-2">
				<label>Ngày: @selectedDate.Value.Date.ToString("dd/MM/yyyy")</label>
			</div>

			@if (DetailViewModel.Any())
			{
				<table class="table table-bordered table-hover text-center border-2">
					<thead class="table-dark">
						<tr class="bg-white">
							<th>Bác sĩ</th>
							<th>Khung giờ</th>
							<th>Thao tác</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var schedule in DetailViewModel)
						{
							<tr>
								<td>@schedule.Doctor.FullName</td>
								<td>@schedule.WorkHour.StartTime - @schedule.WorkHour.EndTime</td>
								<td class="d-flex justify-content-evenly">
									<NavLink class="btn btn-warning btn-sm text-white" @onclick="() => OpenEditPopupAsync(schedule.Id)">Chỉnh sửa</NavLink>
									<button class="btn btn-danger btn-sm" @onclick="() => OpenDeletePopup(schedule.Id)">Xóa</button>
								</td>
							</tr>

						}
					</tbody>
				</table>

				<div>
					<nav aria-label="Page navigation">
						<ul class="pagination">
							@if (PageNumber > 1)
							{
								<li class="page-item">
									<a class="page-link" @onclick="() => ChangePage(PageNumber - 1)">
										Trước
									</a>
								</li>
							}

							@for (int i = 1; i <= TotalPages; i++)
							{
								int page = i;
								<li class="page-item @(i == PageNumber ? "active" : "")">
									<a class="page-link" value="@i" @onclick="() => ChangePage(page)">@i</a>
								</li>
							}

							@if (PageNumber < TotalPages)
							{
								<li class="page-item">
									<a class="page-link" @onclick="() => ChangePage(PageNumber + 1)">
										Sau
									</a>
								</li>
							}
						</ul>
					</nav>
				</div>

			}
			else
			{
				<span>Chưa có lịch.</span>
			}
		</div>
	</div>
}

@if (isPopupEditOpen)
{
	<div class="popup-overlay">
		<EditForm FormName="ScheduleUpdate" OnValidSubmit="HandleUpdate" Model="EditViewModel" class="popup">
			<h3>Chỉnh sửa lịch làm việc</h3>

			@if (!string.IsNullOrEmpty(ErrorMessage))
			{
				<div class="alert alert-danger w-100">
					@ErrorMessage
				</div>
			}

			<div class="form-group m-2">
				<label>BS. @EditViewModel.Doctor.FullName</label>
				<InputNumber hidden @bind-Value="EditViewModel.UserId" />
				<ValidationMessage For="@(() => CreateViewModel.WorkHourId)" class="text-danger" />
			</div>

			<div class="form-group m-2">
				<label>Ngày: @EditViewModel.WorkDay?.ToString("dd/MM/yyyy")</label>
				<InputDate hidden @bind-Value="EditViewModel.WorkDay" />
			</div>
			<div class="form-group m-2">
				<label>Giờ làm việc (Giờ bắt đầu - Giờ kết thúc)</label>
				<InputSelect class="form-control" @bind-Value="EditViewModel.WorkHourId">
					@foreach (var workHour in WorkHours)
					{
						<option value="@workHour.Id">@workHour.StartTime - @workHour.EndTime</option>
					}
				</InputSelect>
				<ValidationMessage For="@(() => EditViewModel.WorkHourId)" class="text-danger" />
			</div>

			<div class="form-group m-2">
				<button type="submit" class="btn btn-success">Lưu</button>
				<button class="btn btn-danger" @onclick="ClosePopup">Hủy</button>
			</div>

		</EditForm>
	</div>
}

@if (isPopupDeleteOpen)
{
	<div class="popup-overlay">
		<div class="popup">
			<p>Bạn có chắc chắn muốn xóa lịch này?</p>
			<button type="button" class="btn btn-danger" @onclick="DeleteSchedule">Xóa</button>
			<button type="button" class="btn" @onclick="ClosePopup">Hủy</button>
		</div>
	</div>
}