@page "/users/edit/{id:int}"
@rendermode InteractiveServer

<h3>Chỉnh sửa người dùng</h3>
<hr />

@if (ErrorMessage.Count > 0)
{
    @foreach (string error in ErrorMessage)
    {
        <div class="alert alert-danger">@error</div>
    }
}

<EditForm Model="@userEditViewModel" OnValidSubmit="HandleUpdate" FormName="UserUpdate">
    <DataAnnotationsValidator />
                    <InputNumber hidden @bind-Value="userEditViewModel.Id" />

    <div class="row">
        <!-- Cột 1 -->
        <div class="col-md-6">
            <div class="form-group m-2">
                <InputNumber hidden @bind-Value="userEditViewModel.Id" />
                <label class="control-label m-2">
                    Họ và tên
                    <span class="text-danger">*</span>
                </label>
                <InputText class="form-control"
                           @bind-Value="userEditViewModel.FullName"
                           placeholder="Nhập họ và tên..." />
                <ValidationMessage For="@(() => userEditViewModel.FullName)" class="text-danger" />
            </div>

            <div class="form-group m-2">
                <label class="control-label m-2">Số điện thoại</label>
                <InputTextArea class="form-control"
                               @bind-Value="userEditViewModel.PhoneNumber"
                               placeholder="Nhập số điện thoại..." />
                <ValidationMessage For="@(() => userEditViewModel.PhoneNumber)" class="text-danger" />
            </div>

            <div class="form-group m-2">
                <label class="control-label m-2">Địa chỉ</label>
                <InputTextArea class="form-control"
                               @bind-Value="userEditViewModel.Address"
                               placeholder="Nhập địa chỉ..." />
                <ValidationMessage For="@(() => userEditViewModel.Address)" class="text-danger" />
            </div>

            <div class="form-group m-2">
                <label class="control-label m-2">Ngày tháng năm sinh</label>
                <InputDate class="form-control"
                           @bind-Value="userEditViewModel.Dob"
                           placeholder="Nhập ngày tháng năm sinh..." />
                <ValidationMessage For="@(() => userEditViewModel.Dob)" class="text-danger" />
            </div>
        </div>
        <!-- Cột 2 -->
        <div class="col-md-6 p-2">
            <div class="text-center w-100">
                <label class="w-100 text-start">Ảnh người dùng</label>
            </div>
            <div class="col-md-12">
                <div class="input-group w-100">
                    <label class="btn btn-primary w-100">
                        <i class="bi bi-upload"></i> Chọn ảnh
                        <InputFile OnChange="HandleFileSelection" accept="image/*" class="d-none" />
                    </label>
                </div>
            </div>
            @if (!string.IsNullOrEmpty(PreviewImageUrl))
            {
                <div class="form-group m-2 text-center" style="margin-left: 19px">
                    <p class="fw-bold">Ảnh xem trước:</p>
                    <img src="@PreviewImageUrl" alt="Preview Image" class="img-thumbnail shadow" style="width: 250px; height: 250px; object-fit: cover; border-radius: 10px;" />
                </div>
            }
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success" disabled="@isSubmitting">
                @(isSubmitting ? "Đang xử lý..." : "Cập nhật")
            </button>
        </div>
        <div class="col-md-4">
            <a class="btn btn-secondary" href="/users/index">
                Về trang quản lí chuyên khoa
            </a>
        </div>
    </div>
</EditForm>

