@page "/specialities/detail/{id:int}"

<h3>Chi tiết chuyên khoa</h3>
<hr />

<dl class="row d-flex align-items-center">
	<dt class="col-sm-3 mb-4">Mã chuyên khoa</dt>
	<dd class="col-sm-9 mb-4">@DetailViewModel.Id</dd>

	<dt class="col-sm-3 mb-4">Tên chuyên khoa</dt>
	<dd class="col-sm-9 mb-4">@DetailViewModel.SpecialtyName</dd>

	<dt class="col-sm-3 mb-4">Mô tả</dt>
	<dd class="col-sm-9 mb-4">@DetailViewModel.Description</dd>

	<dt class="col-sm-3 mb-4">Ngày tạo</dt>
	<dd class="col-sm-9 mb-4">@DetailViewModel.CreatedAt.ToString("dd/MM/yyyy")</dd>

	<dt class="col-sm-3 mb-4">Người tạo</dt>
	<dd class="col-sm-9 mb-4">@DetailViewModel.CreatedBy</dd>

	<dt class="col-sm-3 mb-4">Trạng thái</dt>
	<dd class="col-sm-9 mb-4">
		<p class="@(DetailViewModel.IsDelete ? "text-danger" : "text-success") mb-0">
			@(DetailViewModel.IsDelete ? "Đã xóa" : "Đang hoạt động")
		</p>
	</dd>
</dl>


<div class="row mb-4">
	<h4 class="col-md-3 text-center align-content-between">Danh sách dịch vụ liên quan</h4>
	@if (DetailViewModel.Services != null && DetailViewModel.Services.Any())
	{
		<div class="col-md-4">
			<NavLink class="btn btn-success" href="@($"/specialities/detail/{id}/services/create")">Tạo dịch vụ</NavLink>
		</div>
	}
</div>

@if (DetailViewModel.Services != null && DetailViewModel.Services.Any())
{
	<table class="table table-bordered table-hover text-center border-2">
		<thead class="table-dark">
			<tr class="bg-white">
				<th>Tên dịch vụ</th>
				<th>Mô tả</th>
				<th>Giá</th>
				<th>Ngày tạo</th>
				<th>Người tạo</th>
				<th>Trạng thái</th>
				<th>Thao tác</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in DetailViewModel.Services)
			{
				<tr>
					<td>@item.ServiceName</td>
					<td>@item.Description</td>
					<td>@item.Price</td>
					<td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
					<td>@item.CreatedBy</td>
					<td class="@(item.IsDelete ? "text-danger" : "text-success")">
						@(item.IsDelete ? "Đã xóa" : "Đang hoạt động")
					</td>

					<td class="d-flex justify-content-evenly">
						<NavLink class="btn btn-warning btn-sm" href="@($"/specialities/detail/{id}/services/edit/{item.Id}")">Chỉnh sửa</NavLink>
						<button class="btn btn-danger btn-sm">Xóa</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<div class="text-center mt-5">
		<i class="bi bi-exclamation-circle text-secondary display-3"></i>
		<h3 class="text-muted mt-3">Không có dữ liệu.</h3>
		<div class="mt-4">
			<NavLink href="@($"/specialities/detail/{id}/services/create")" class="btn btn-success me-2">
				<i class="bi bi-plus-circle"></i> Tạo dịch vụ
			</NavLink>
			<NavLink href="/" class="btn btn-outline-secondary">
				<i class="bi bi-house-door"></i> Về trang chủ
			</NavLink>
		</div>
	</div>
}

<NavLink href="/specialities" class="btn btn-secondary">Quay lại trang quản lý chuyên khoa</NavLink>
