@page "/specialities"

<h3>Quản lý Chuyên khoa</h3>

<div class="row mb-4">
	<div class="col-md-4">
		<NavLink class="btn btn-success" href="/specialities/create">Tạo mới</NavLink>
	</div>
	<div class="col-md-5 offset-md-3">
		<EditForm Model="SearchData" OnValidSubmit="HandleSearch" FormName="SearchSpecialy">
			<DataAnnotationsValidator />
			<ValidationSummary />

			<div class="d-flex">
				<InputText class="form-control me-2" @bind-Value="SearchData.Keyword" placeholder="Tìm kiếm chuyên khoa..." />
				<button type="submit" class="btn btn-primary searchBtn" style="width: 20%;">Tìm kiếm</button>
			</div>
		</EditForm>
	</div>
</div>

@if (Specialities.Count == 0)
{
	<p class="text-center">Không có dữ liệu</p>
}
else
{
	<table class="table table-bordered table-hover text-center">
		<thead class="table-dark">
			<tr style="background-color: white; border: 2px solid gray">
				<th>Tên chuyên khoa</th>
				<th>Mô tả</th>
				<th>Người tạo</th>
				<th>Ngày tạo</th>
				<th>Trạng thái</th>
				<th>Thao tác</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Specialities)
			{
				<tr>
					<td>@item.SpecialtyName</td>
					<td>@item.Description</td>
					<td>@item.CreatedBy</td>
					<td>@item.CreatedAt.ToString("dd/MM/yyyy")</td>
					<td style="color:@(item.IsDelete ? "red" : "green")">
						@(item.IsDelete ? "Đã xóa" : "Đang hoạt động")
						@* <div class="form-check form-switch">
							<InputCheckbox class="form-check-input" id="switch_@item.SpecialityId" disabled @(item.IsDelete ? checked : null) />
							<label class="form-check-label" for="switch_@item.SpecialityId">
								@(item.IsDelete ? "Đã xóa" : "Đang hoạt động")
							</label>
						</div> *@
					</td>

					<td>
						<NavLink class="btn btn-info btn-sm" href="@($"/specialities/detail/{item.SpecialityId}")">Chi tiết</NavLink>
						<NavLink class="btn btn-warning btn-sm" href="@($"/specialities/edit/{item.SpecialityId}")">Chỉnh sửa</NavLink>
						<button class="btn btn-danger btn-sm" @onclick="() => DeleteCategory(item.SpecialityId)">Xóa</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

